.pagina-cadastro-container {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #201e96, #5a49ee, #ab168d);
    display: flex;
    height: 100vh;
    animation: fadeIn 1.5s ease forwards;
}

.conteudo {
    flex: 1;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.conteudo h1 {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-bottom: 30px;
    font-size: 32px;

}

.form-group-cadastro {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group-cadastro input {
    padding: 12px 10px;
    border: none;
    border-radius: 20px;
    border-bottom: 2px solid #ccc;
    background-color: #f9f9ff;
    outline: none;
    font-size: 14px;
    transition: border-color 0.3s;
}

.form-group-cadastro input:focus {
    border-bottom: 2px solid #5b00d2;
}

.form-options-cadastro {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.form-options-cadastro a {
    background:white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 14px;
    text-decoration: none;
}

.btn-submit-cadastro {
    padding: 10px 40px;
    background:linear-gradient(120deg, #ab168d, #9e2cc7, #201e96);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-submit-cadastro:hover {
    transform: scale(1.05);
    background-color: #7a00ff;
    box-shadow: 0 6px 16px rgba(162, 89, 255, 0.6)
}