.pagina-inicial-container {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #201e96, #5a49ee, #ab168d);
    min-height: 100vh;
    color: white;
    animation: fadeIn 1.5s ease forwards;
    opacity: 0;
    
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;    
    
    padding: 2rem 4rem;
    text-align: center; 
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.botoes .btn {
    padding: 0.75rem 2rem;
    margin-right: 1rem;
    border: none;
    border-radius: 25px;
    background:linear-gradient(120deg, #ab168d, #9e2cc7, #201e96);
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 12px rgba(162, 89, 255, 0.5);
}

.botoes .btn:hover {
    transform: scale(1.05);
    background-color: #7a00ff;
    box-shadow: 0 6px 16px rgba(162, 89, 255, 0.6);
}
