@page "/"
@inject NavigationManager Navigation

<div class="pagina-inicial-container">
    <h1>
        Gerenciando e organizando as suas tarefas
    </h1>
    <p>
        Faça login ou cadastre-se para começar a organizar suas atividades conosco!!
    </p>
    <div class="botoes">
        <button class="btn" @onclick='() => Navigation.NavigateTo("/login")'>
            Login
        </button>
        
        <button class="btn" @onclick='() => Navigation.NavigateTo("/cadastro")'>
            Cadastro
        </button>
    </div>
</div>

@code {
    
}